.stats-grid:first-child > .stat-number::before {
  content: "\1F525";
  display: block;
  font-size: 32px;
}

.stats-grid:nth-child(3) {
  background: linear-gradient(
    90deg,
    rgba(72, 105, 163, 1) 0%,
    rgba(91, 87, 199, 1) 52%,
    rgba(183, 83, 237, 1) 100%
  );
}

.stats-grid:nth-child(3) .stat-number,
.stats-grid:nth-child(3) .stat-label {
  color: white;
}

.stats-grid:hover {
  box-shadow: 0 4px 10px black;
  transform: translateY(-5px);
}

.workout-section article.workout-plan:nth-child(3) {
  background-color: rgb(245, 245, 179);
  border-left: solid 5px;
  border-color: orange;
}
