/* Primo punto */
.stats-grid:first-child > .stat-number::before {
  content: "\1F525";
  display: block;
  font-size: 32px;
}

/* Secondo punto */
.stats-grid:nth-child(3) {
  background: linear-gradient(
    90deg,
    rgba(72, 105, 163, 1) 0%,
    rgba(91, 87, 199, 1) 52%,
    rgba(183, 83, 237, 1) 100%
  );
}

.stats-grid:nth-child(3) .stat-number,
.stats-grid:nth-child(3) .stat-label {
  color: white;
}

/* Terzo punto */
.stats-grid:hover {
  box-shadow: 0 4px 10px black;
  transform: translateY(-5px);
  transition-duration: 0.6s;
}

/* Quarto punto */
.workout-section article.workout-plan:nth-child(3) {
  background-color: rgb(245, 245, 179);
  border-left: solid 5px;
  border-color: orange;
}

/* Quinto punto */
.exercise-item:first-child,
.exercise-item:last-child {
  background-color: rgba(109, 255, 109, 0.191);
  border-left: solid 4px;
  border-color: rgb(21, 195, 21);
}

/* Sesto punto */
.exercise-item:nth-child(2)::before,
.exercise-item:nth-child(4)::before {
  content: "\26A1";
}

/* Settimo-Ottavo punto */
select:focus,
input:focus {
  appearance: none;
  outline: none;
  border: rgb(45, 45, 244) solid 3px;
  box-shadow: 0 2px 10px rgb(13, 13, 86);
  transition-duration: 0.1s;
}

/* Nono punto */
.save-btn:hover {
  box-shadow: 0 2px 5px rgb(13, 13, 86);
  transform: translateY(-2px);
  background-color: rgb(58, 58, 218);
  transition: 0.3s;
}

/* Decimo punto */
.progress-fill:before {
  position: absolute;
  left: 90%;
  transform: translateY(-20%);
  content: "65%";
  color: white;
  font-size: 0.6rem;
}

/* Undicesimo-Dodicesimo punto */
.nav-footer > .nav-item:first-child {
  background-color: #34495f;
  color: rgb(70, 124, 250);
}
.nav-footer > .nav-item:nth-child(2):hover,
.nav-item:nth-child(3):hover,
.nav-item:nth-child(4):hover {
  background-color: #34495f;
  color: rgb(70, 124, 250);
}

/* Tredicesimo punto */
.quote-box:before {
  position: absolute;
  content: '"';
  left: 10px;
  transform: translateY(-30%);
  font-size: 42px;
  color: rgba(174, 174, 174, 0.526);
}

.quote-box::after {
  position: absolute;
  content: '"';
  right: 10px;
  transform: translateY(-80%);
  font-size: 42px;
  color: rgba(174, 174, 174, 0.526);
}
